<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kelton.infrastructure.persistent.dao.IStrategyDao">

    <resultMap id="dataMap" type="top.kelton.infrastructure.persistent.po.StrategyPO">
        <id column="id" property="id"/>
        <result column="strategy_id" property="strategyId"/>
        <result column="strategy_desc" property="strategyDesc"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        strategy_id, strategy_desc, rule_models, create_time, update_time
    </sql>

    <select id="queryStrategyList" resultMap="dataMap">
        select  <include refid="Base_Column_List"></include>
        from strategy
        limit 10
    </select>
    <select id="findByStrategyId" resultType="top.kelton.infrastructure.persistent.po.StrategyPO">
        select <include refid="Base_Column_List"></include>
        from strategy
        where strategy_id=#{strategyId}
    </select>

</mapper>
